// Import Core Clean Blog SCSS
@import "../assets/scss/clean-blog.scss";


img{
  display : block;
  margin : 0 auto;
}
blockquote p{
  text-align : center;
}
.position_fixed {
  position : fixed;
  right : 100px;
  top : 300px;
}

.active{
  background-color : green;
}
